@import url(https://fonts.googleapis.com/css?family=Nunito);

.ck-editor__editable {
    height: 200px;
}

.btn {
  border-radius: 0 !important;
}


.card { 
  width: 300px; 
}
/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}


